<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>展示数据</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="main" v-for="item in items">
        <div v-for="item in items" :key="item.title">

        </div>
    </div>
    <script>
        var main = new Vue({
            el: '#main',
            data: {
                items: [{ title: 'A', num: 0 },
                { title: 'B', num: 0 },
                { title: 'C', num: 0 },
                { title: 'D', num: 0 },]
            }
        })
        axios.get('')
            .then(function (response) {
                console.log(response.data);
            })
            .catch(function (error) {
                console.log(error);
            });
    </script>
</body>

</html>